## Package Dependencies
loremipsum==1.0.5

## Development Utilities
#python-dateutil==2.6.0
#nose==1.3.7
#coverage==4.3.4

## Python/Virtual Env Installed (Ignore)
#appdirs==1.4.3
#packaging==16.8
#pip==9.0.1
#pyparsing==2.2.0
#setuptools==34.3.2
#six==1.10.0
#wheel==0.30.0a0
